ejercicio_1.json
[
    {
        "id": "ee0cc06b92f43421",
        "type": "tab",
        "label": "Ejercicio 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b80e8c27754a8bcc",
        "type": "mqtt in",
        "z": "ee0cc06b92f43421",
        "name": "",
        "topic": "iot/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "068e64ca442e3c30",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "137f1213e7adbad4",
                "d919b8a5f3ea3619",
                "365b5d411b8ac5a1"
            ]
        ]
    },
    {
        "id": "137f1213e7adbad4",
        "type": "ui_gauge",
        "z": "ee0cc06b92f43421",
        "name": "",
        "group": "8d01cf0445e91d19",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Calculo de temperatura",
        "label": "C",
        "format": "{{value}} *C",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "d919b8a5f3ea3619",
        "type": "function",
        "z": "ee0cc06b92f43421",
        "name": "function 1",
        "func": "if(msg.topic === \"iot/temperatura\" && isNaN(msg.payload)){\n    msg.topic = \"INSERT INTO tbl_temperatura(temperatura,descripcion)\" \n    + \"VALUES(\" + msg.payload + \", 'Insercion desde MQTT')\";\n}else{\n    msg.topic = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "ce3ad5c74d8917b1"
            ]
        ]
    },
    {
        "id": "ce3ad5c74d8917b1",
        "type": "mysql-r2",
        "z": "ee0cc06b92f43421",
        "name": "",
        "host": "localhost",
        "database": "",
        "username": "",
        "password": "",
        "sql": "",
        "port": 3306,
        "pooling": false,
        "waitForConnections": true,
        "connectionLimit": 10,
        "queueTimeout": 10000,
        "x": 720,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "365b5d411b8ac5a1",
        "type": "ui_chart",
        "z": "ee0cc06b92f43421",
        "name": "Grafica",
        "group": "92b5a5cd5d746eb3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Grafica",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f510b6b5dec755c2",
        "type": "mqtt in",
        "z": "ee0cc06b92f43421",
        "name": "",
        "topic": "iot/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "068e64ca442e3c30",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "b27fa934745dda8d",
                "365b5d411b8ac5a1"
            ]
        ]
    },
    {
        "id": "b27fa934745dda8d",
        "type": "ui_gauge",
        "z": "ee0cc06b92f43421",
        "name": "",
        "group": "af86f8ebddaef02a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "06a02d7c8f094d08",
        "type": "comment",
        "z": "ee0cc06b92f43421",
        "name": "GDS0551",
        "info": "# Brayan Palma Aboytes\n\n# 1222100449",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "068e64ca442e3c30",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.31.2.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8d01cf0445e91d19",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "c6570d689b0aa887",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92b5a5cd5d746eb3",
        "type": "ui_group",
        "name": "Historico de Datos",
        "tab": "c6570d689b0aa887",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af86f8ebddaef02a",
        "type": "ui_group",
        "name": "Informacion",
        "tab": "c6570d689b0aa887",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6570d689b0aa887",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "flare",
        "disabled": false,
        "hidden": false
    }
]